@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');


@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

body {
  background-image: url('/pic/background.jpg');
  background-size: fill; /* or other preferred settings */
  background-repeat: no-repeat;
  background-position: center;
  font-family: "Ubuntu", sans-serif;
  animation: fadeIn 0.5s ease-in-out; /* Apply animation to body */

}

.highlight {
  color: #9c27b0;
  transition-duration: 0.5s;
}

.highlight:hover {
font-size: 120%;
transition-duration: 0.5s;
}

.highlightOrange {
  color: orange;
  transition-duration: 0.5s;
}

.highlightOrange:hover {
font-size: 120%;
transition-duration: 0.5s;
}

.links {
  position: relative;
  text-decoration: none;
  font-weight: bold;
  color: white;
  font-size: 120%;
}

.links::before {
  padding-bottom: 1%;
    content: '';
    position: absolute;
    width: 100%;
    height: 4px;
    border-radius: 4px;
    background-color: #9c27b0;
    bottom: 0;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
  }

  .links:hover::before {
      padding-bottom: 1%;
  transform-origin: left;
  transform: scaleX(1);
}

.smallLinks {
  text-decoration: none;
  color: white;
  font-style: italic;
  font-weight: bold;
}
