.title {
    font-weight: bold;
    font-size: xx-large;
    display: flex;
    justify-content: center;
    color: #9c27b0;
}

.time {
    font-size: medium;
}

.price {
    font-size: x-large;
}

.description {
    font-size: large;
    color: white;
    font-weight: bold;
}

.small {
    font-size: smaller;
}

.paperStyle {
   /* opacity: 65%; */
   background-color: black;
    padding: 5%;
    transition: 0.3s;
    border-radius: 27px 27px 27px 27px;
      
}